/*
Theme Name: Unspoken
Author URI: http://www.wpshower.com
Description: Advanced WordPress Premium theme developed proceeding from your wishes. Unspoken is our first, clean, simple and easy to customize premium WordPress theme specifically designed for your news or magazine website. We carefully analyzed your statements to each of free templates that we have released previously and have tried to realize all your remarks and wishes in Unspoken. Comes with 7 unique color schemes.
Author: Wpshower
Version: 1.0.4
License: GNU/GPL Version 2 or later. http://www.gnu.org/licenses/gpl.html
Copyright: (c) 2011 Wpshower
*/

/***** Reset *****/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;text-align:left;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
:focus {outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}

/***** Global *****/

body {font: 62.5% Arial, Helvetica, sans-serif; background-color: #f9f9f9;}
.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

a, a:hover {text-decoration: none;}
a img {border: none;}

.fl {float: left;}
.fr {float: right;}
.bl {border-left: 1px solid #eee;}
.br {border-right: 1px solid #eee;}
.nb {border: 0 !important;}
.focus {border-color: #ff5800 !important;}
.focus {border-color: #ff5800 !important;}

/***** Layout *****/

.wrapper {width: 940px; margin: 0 auto; padding: 0 20px 15px; background-color: #fff;}
.middle {padding-bottom: 40px;}
#content {width: 620px; float: left; padding-right: 9px;}
#sidebar {width: 300px; float: right; padding-left: 10px;}

/***** Header *****/

.header-meta {height: 40px; background-color: #f6f6f8; margin-bottom: 20px; border-radius: 0 0 2px 2px; -moz-border-radius: 0 0 2px 2px; -webkit-border-radius: 0 0 2px 2px;}

#top-menu {width: 770px; height: 40px; float: left;}
#top-menu ul li {font-size: 12px; position: relative; z-index: 3; float: left; margin: 12px 0; padding: 0 15px; border-left: 1px solid #e6e6e7;}
#top-menu ul li.current-menu-item {font-weight: bold;}
#top-menu ul li a {color: #333;  margin: 12px 0;}
#top-menu ul li a:hover {color: #ff5800;}
#top-menu ul li.parent a {background: url("images/menu-parent.png") 100% 3px no-repeat; padding-right: 15px;}
#top-menu ul li.first {border: none;}
#top-menu ul.sub-menu {position: absolute; left: 0; z-index: 3; display: block; visibility: hidden; background-color: #f6f6f8; padding: 8px 0;}
#top-menu ul.sub-menu a {display: block; background: none !important; white-space: nowrap; margin: 0; padding-right: 0 !important;}
#top-menu ul.sub-menu li {margin: 0; border-left: none; float: none; line-height: 2;}

.header-searchform {width: 127px; height: 27px; float: right; padding: 1px 7px; margin: 5px 5px 5px 0; position: relative; background-color: #fff; border: 1px solid #ededed; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.header-searchform input {width: 108px; padding: 6px 0; margin: 0 5px 0 0; border: 0; color: #333; font: 12px Arial, Helvetica, sans-serif; vertical-align: middle;}
.header-searchform button {width: 11px; height: 11px; padding: 0; margin: 0; border: 0; position: absolute; right: 7px; top: 9px; background: url("images/header-searchform-button.png") 0 0 no-repeat; vertical-align: middle; cursor: pointer;}

.header-middle {margin-bottom: 30px;}
.logo-header {max-width: 405px; float: left; display: block;}
.logo-header.offset {position: relative; left: -40px;}
.logo-header a {color: #3b3b3b; font-size: 40px; font-weight: bold;}
.logo-header a span {display: block; width: 405px; height: 49px;}

.header-adplace {width: 468px; float: right;}
.header-adplace img {display: block; margin-bottom: 20px;}

.top-content-adplace {margin-bottom: 20px; border-bottom: 1px solid #eee;}
.top-content-adplace .unspoken-adplace {margin: 20px auto;}
.top-content-adplace .unspoken-banner:hover {border: none;}

/* Navigation */

.menu-navigation {clear: both; width: 940px; border-top: 1px solid #323232; border-bottom: 1px solid #eee; margin-bottom: 20px; background: #fff; z-index: 100;}
#navigation ul li {float: left; font-size: 14px; font-weight: bold; height: 40px; line-height: 40px; padding-left: 10px; position: relative;}
#navigation ul li a {display: block; white-space: nowrap; color: #323232; padding-right: 12px;}
#navigation ul li a:hover {color: #ff5800;}
#navigation ul li.ddhover {background-color: #323232; z-index: 5;}
#navigation ul li.ddhover a.ddhover, #navigation ul li.ddhover a.ddhover:hover {color: #fff; position: relative; z-index: 6;}
#navigation ul li.parent {padding: 0 10px;}
#navigation ul li.parent a {background: url("images/menu-parent.png") 100% 16px no-repeat;}
#navigation ul li.parent a.ddhover {color: #fff; background: url("images/menu-parent.png") 100% -56px no-repeat; line-height: 40px; border-bottom: 1px solid #9d9d9d;}

#navigation ul.sub-menu {position: absolute; left: 0; z-index: 5; display: block; visibility: hidden; background-color: #323232; border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px;}
#navigation ul.sub-menu li {float: none; height: 27px; line-height: 27px; font-size: 12px; font-weight: normal; padding: 0 10px !important;}
#navigation ul.sub-menu a, #navigation ul.sub-menu a:hover {color: #fff; background: none !important;}
#navigation ul li ul li:hover, #navigation ul li ul li.ddhover {background-color: #464646;}
#navigation ul.sub-menu a.ddhover {border-bottom: none !important; line-height: 27px !important;}
#navigation ul.sub-menu li.parent > a {background: url("images/menu-parent2.png") 100% 11px no-repeat !important; padding-right: 15px;}

#navigation ul.sub-menu ul {background-color: #464646; border-radius: 0 3px 3px 3px; -moz-border-radius: 0 3px 3px 3px; -webkit-border-radius: 0 3px 3px 3px;}
#navigation ul.sub-menu ul li:hover, #navigation ul.sub-menu ul li.ddhover {background-color: #555;}

#navigation ul.sub-menu ul li ul {background-color: #555;}
#navigation ul.sub-menu ul li ul li:hover, #navigation ul.sub-menu ul li ul li.ddhover {background-color: #666;}


/***** Home *****/

#content .unspoken-adplace {margin-bottom: 30px;}
.block-title {font-size: 16px; font-weight: bold; height: 34px; line-height: 34px; color: #323232; border-top: 1px solid #323232; border-bottom: 1px solid #eee;}
.block-title a {color: #323232; padding-right: 15px; background: url("images/link-arrow.png") 100% 6px no-repeat;}
.block-title a:hover {color: #ff5800; background-position: 100% -26px;}
.block-title2 {font-size: 16px; font-weight: bold; color: #fff; padding-bottom: 6px; border-bottom: 1px solid #fff;}

.latest {padding-bottom: 30px;}
.slider {width: 360px; float: left; background-color: #ff5800; padding: 10px 10px 20px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.slider .block-title2 {position: relative;}
.slider .block-title2 a.prev, .slider .block-title2 a.next {position: absolute; width: 18px; height: 18px;}
.slider .block-title2 a.prev {background: #e34e00 url("images/arrows.png") 5px 50% no-repeat; right: 19px; border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px 0 0 3px;}
.slider .block-title2 a.next {background: #e34e00 url("images/arrows.png") -28px 50% no-repeat; right: 0; border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0 3px 3px 0;}
.slider .block-title2 a.next:hover, .slider .block-title2 a.prev:hover {background-color: #d94b00;}

.slider-inn {width: 360px; overflow: hidden;}
.slider-inn ul {width: 10000px;} /* Carousel fix */
.slider-inn li {width: 360px; float: left;}
.slider-item {width: 360px; padding-top: 10px;}
.slider-photo {margin-bottom: 8px;}
.slider-photo a, .slider-photo img {display: block;}
.slider-item-meta {color: #fff; font-size: 10px; margin-bottom: 3px;}
.slider-item-meta a {color: #fff;}
.slider-item-meta a:hover {text-decoration: underline;}
.slider-item h2 {color: #fff; font-size: 21px; margin-bottom: 5px;}
.slider-item h2 a {color: #fff;}
.slider-item h2 a:hover {text-decoration: underline;}
.slider-item p {color: #fff; font-size: 12px;}

.latest-news {width: 220px; float: right; padding-top: 10px;}
.latest-news .block-title {border-top: none; height: auto; line-height: normal; padding-bottom: 6px;}
.latest-news li {padding: 10px 0; border-bottom: 1px dotted #eee;}
.latest-news-meta {color: #999; font-size: 10px; margin-bottom: 4px;}
.latest-news-meta a {color: #999;}
.latest-news-meta a:hover {color: #ff5800;}
.latest-news-title {font-size: 12px; font-weight: bold;}
.latest-news-title a {color: #007ac9;}
.latest-news-title a:hover {color: #ff5800;}

.category {margin-bottom: 30px;}
.category-inn {padding-top: 10px;}
.category-item {width: 300px; float: left; padding: 0 10px 10px 0; border-right: 1px solid #eee;}
.category-item-photo {margin-bottom: 8px;}
.category-item-photo a, .category-item-photo img {display: block;}
.category-item-meta {color: #999; font-size: 10px; margin-bottom: 3px;}
.category-item-meta a {color: #999;}
.category-item-meta a:hover {color: #ff5800;}
.category-item h2 {font-size: 18px; color: #323232; margin-bottom: 5px;}
.category-item h2 a {color: #323232;}
.category-item h2 a:hover {color: #ff5800;}
.category-item p {color: #323232; font-size: 12px;}
.category-list {width: 299px; padding-left: 10px; float: right;}
.category-list li {padding: 10px 0; margin: -10px 0 10px; border-bottom: 1px dotted #eee;}
.category-list-meta {color: #999; font-size: 10px; margin-bottom: 3px;}
.category-list-meta a {color: #999;}
.category-list-meta a:hover {color: #ff5800;}
.category-list-title {font-size: 12px; font-weight: bold;}
.category-list-title a {color: #007ac9;}
.category-list-title a:hover {color: #ff5800;}

.choice {background-color: #28bd6b; width: 600px; padding: 10px; margin-bottom: 30px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.choice-inn {width: 600px !important; overflow: hidden;}
.choice-inn ul {width: 10000px;} /* Carousel fix */
.choice .block-title2 {position: relative; width: 600px;}
.choice .block-title2 a.prev, .choice .block-title2 a.next {position: absolute; width: 18px; height: 18px;}
.choice .block-title2 a.prev {background: #23a35c url("images/arrows.png") 5px 50% no-repeat; right: 19px; border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px 0 0 3px;}
.choice .block-title2 a.next {background: #23a35c url("images/arrows.png") -28px 50% no-repeat; right: 0; border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0 3px 3px 0;}
.choice .block-title2 a.next:hover, .choice .block-title2 a.prev:hover {background-color: #439764;}

.choice-item {width: 135px; float: left; padding: 0 9px 10px 0; margin: 10px 10px 0 0; border-right: 1px solid #53ca89;}
.choice-item h2 {font-size: 14px; font-weight: bold; color: #fff;}
.choice-item h2 a {color: #fff;}
.choice-item h2 a:hover {text-decoration: underline;}
.choice-photo {margin-bottom: 8px; display: block;}
.choice-photo img {display: block;}
.choice-cat {color: #fff; margin-bottom: 5px;}
.choice-cat a {color: #fff;}
.choice-cat a:hover {text-decoration: underline;}

.categories {width: 620px; overflow: hidden; margin-bottom: 30px;}
.categories-inn {width: 640px;}
.catlist {width: 140px; float: left; margin-right: 20px;}
.catlist .block-title {margin-bottom: 10px;}
.catlist-item {padding: 8px 0; border-bottom: 1px dotted #eee;}
.catlist-item-photo {margin-bottom: 8px;}
.catlist-item-photo, .catlist-item-photo img {display: block;}
.catlist-item-date {font-size: 10px; color: #999; margin-bottom: 3px;}
.catlist-item h2 {font-size: 14px; font-weight: bold; margin-bottom: 5px;}
.catlist-item p {font-size: 12px;}
.catlist-item a {color: #007ac9;}
.catlist-item a:hover {color: #ff5800;}
.categories .first {padding-top: 0;}

.video {margin-bottom: 30px;}
.video .block-title {margin-bottom: 10px;}
.video-item-container {width: 460px; float: left; overflow: hidden; padding-right: 10px; border-right: 1px solid #eee;}
.video-item-photo, .video-item-photo img {display: block;}
.video-item-photo {margin-bottom: 8px;}
.video-item-meta {color: #999; font-size : 10px; margin-bottom: 3px;}
.video-item-meta a {color: #999;}
.video-item-meta a:hover {color: #ff5800;}
.video-item {width: 460px; float: left; overflow: hidden; display: none;}
.video-item.active {display: block;}
.video-item h2 {font-size: 21px; font-weight: bold; margin-bottom: 5px;}
.video-item h2 a {color: #323232;}
.video-item h2 a:hover {color: #ff5800;}
.video-item p {font-size: 12px; color: #323232;}

.videolist {width: 140px; float: right; padding-left: 8px;}
.videolist-inn {width: 140px; padding: 7px 0; overflow: hidden;}
.videolist .prev, .videolist .next {display: block; margin: 0 3px; height: 21px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.videolist .prev:hover, .videolist .next:hover {background-color: #ff5800;}
.videolist .prev {background: #eee url("images/arrows.png") 50% 8px no-repeat;}
.videolist .next {background: #eee url("images/arrows.png") 50% -26px no-repeat;}
.videolist-item {width: 140px; padding: 7px 0; position: relative; z-index: 1; vertical-align: bottom;}
.videolist-thumb {width: 134px; height: 74px; position: relative; left: 3px;}
.videolist-play {display: block; width: 134px; height: 74px; position: absolute; top: 0; left: 0; background: url("images/videolist-play.png") 50% 50% no-repeat;}
.videolist-play:hover {top: -3px; left: -3px; border: 3px solid #ff5800; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.videolist-play.active {background-image: url("images/videolist-play-active.png");}

/***** Single *****/

.single .hentry-content {width: 460px; overflow: hidden;}
.single .no-sidebar .hentry-content { width: 620px; }
.single .hentry-meta {padding-bottom: 15px; border-bottom: 1px solid #ff5800; margin-bottom: 5px;}
.single .hentry-meta h1 {color: #323232; font-size: 30px; line-height: 33px; font-weight: bold; padding-bottom: 10px;}
.single .hentry-meta a {color: #007ac9;}
.single .hentry-meta a:hover {color: #ff5800;}
.single .hentry-meta-data {font-size: 12px; color: #323232;}
.single .hentry-middle {width: 460px; float: right;}
.single .no-sidebar .hentry-middle { width: 620px; }
.single .wide {padding-top: 15px;}
.single .wide img {max-width: 620px; display: block;}
.single .wide embed, .single .wide object {max-width: 620px;}
.single .hentry-content embed, .post .hentry-content object {max-width: 460px; display: block;}
.single .hentry-content img {max-width: 460px;}
.single .hentry-content .wp-caption {max-width: 460px !important;}

/* Content styles */

.hentry-content {font-size: 13px; line-height: 1.5; color: #323232; padding-top: 15px;}
.page-template .hentry-content {padding-top: 0;}
.hentry-content h1, .hentry-content h2, .hentry-content h3, .hentry-content h4, .hentry-content h5, .hentry-content h6 {font-weight: normal; margin-bottom: 15px;}
.hentry-content h1 {font-size: 30px;}
.hentry-content h2 {font-size: 26px;}
.hentry-content h3 {font-size: 22px;}
.hentry-content h4 {font-size: 18px;}
.hentry-content h5 {font-size: 16px;}
.hentry-content h6 {font-size: 14px;}
.hentry-content a {color: #007ac9;}
.hentry-content a:hover {color: #ff5800;}
.hentry-content p {margin-bottom: 15px;}
.hentry-content ul {list-style: square; margin: 0 0 15px 16px;}
.hentry-content ol {list-style: decimal; margin: 0 0 15px 19px;}
.hentry-content ul ul, .hentry-content ol ul {margin: 0 0 0 35px;}
.hentry-content ol ol, .hentry-content ul ol {margin: 0 0 0 35px; list-style: lower-alpha;}
.hentry-content li {margin: 3px 0;}
.hentry-content blockquote {padding: 1px 0 1px 35px; background: url("images/blockquote.png") 0 3px no-repeat; font-size: 16px; font-weight: bold;}
.hentry-content table {border: 1px solid #eee; margin: 0 -1px 24px 0; text-align: left; width: 100%;}
.hentry-content tr th, .hentry-content thead th {color: #888; font-size: 12px; font-weight: bold; line-height: 18px; padding: 9px 24px;}
.hentry-content tr td {border-top: 1px solid #eee; padding: 6px 24px;}
.hentry-content dl, .hentry-content dd {margin-bottom: 15px;}
.hentry-content dt {font-weight: bold;}
.hentry-content big {font-size: 131.25%;}
.hentry-content pre {margin-bottom: 15px; padding: 20px; background-color: #f7f7f7; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.hentry-content sup, .hentry-content sub {height: 0; line-height: 1; position: relative; vertical-align: baseline; font-size: 10px;}
.hentry-content sup {bottom: 5px;}
.hentry-content sub {top: 3px;}
.hentry-content #submit {border: none; margin: 10px 0 0 0; background-color: #323232; color: #fff; font: bold 14px Arial, Helvetica, sans-serif; padding: 10px 15px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; cursor: pointer;}
.hentry-content #submit:hover {background-color: #ff5800; color: #fff;}
.hentry-content .aside, .hentry-content .wide {display: none;}

/* Images */

.hentry-content img {margin: 15px 0 15px; height: auto;}
.hentry-content .alignnone, .hentry-content img.alignnone {clear: both; display: block; margin-bottom: 15px;}
.hentry-content .alignleft, .hentry-content img.alignleft {display: inline; float: left; margin: 4px 15px 0 0;}
.hentry-content .alignright, .hentry-content img.alignright {display: inline; float: right; margin: 4px 0 0 15px;}
.hentry-content .aligncenter, .hentry-content img.aligncenter {clear: both; display: block; margin-left: auto; margin-right: auto;}

.hentry-content .wp-caption {background: #f5f5f5; margin-bottom: 15px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.hentry-content .wp-caption img {margin: 0 !important;}
.hentry-content .wp-caption p.wp-caption-text {color: #323232; font-size: 11px; padding: 3px 10px 10px; margin-bottom: 0;}
.hentry-content .wp-caption.alignleft, .hentry-content .wp-caption.alignright {margin-bottom: 0;}

.hentry-content .wp-smiley {margin: 0; border: none !important;}

.hentry-content .gallery {margin: 0 auto 18px;}
.single .hentry-content .gallery {width: 480px;}
.hentry-content .gallery .gallery-item {float: left; margin: 0 20px 20px 0 !important; text-align: center; width: 140px !important;}
.hentry-content .gallery .gallery-item img {border: none !important; margin: 0; width: 140px; display: block;}
.hentry-content .gallery .gallery-caption {color: #888; font-size: 12px; margin: 0 0 10px;}
.hentry-content .gallery dl {margin: 0;}
.hentry-content .gallery br+br {display: none;}
.hentry-content .attachment img {display: block; max-width: 460px;}

/* Shortcodes */

.hentry-content .unspoken-button, .hentry-content .unspoken-button:hover {display: inline-block; background: #ff5800; color: #fff; font-weight: bold; margin: 0 10px; text-decoration: none !important; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.hentry-content .unspoken-button.alignnone, .hentry-content .unspoken-button.aligncenter {margin: 0 0 15px;}
.hentry-content .unspoken-button.aligncenter {text-align: center;}
.button-small {font-size: 12px; padding: 5px 10px;}
.button-medium {font-size: 16px; padding: 5px 10px;}
.button-big {font-size: 18px; padding: 5px 10px;}

.unspoken-box {padding: 7px 10px; margin-bottom: 15px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}

.unspoken-list ul, .unspoken-list ol {list-style: none; margin-left: 0;}
.unspoken-list li {padding-left: 20px;}
.unspoken-list.list-tick li {background: url("images/list.png") 0 4px no-repeat;}
.unspoken-list.list-cross li {background: url("images/list.png") 0 -61px no-repeat;}

.unspoken-social {display: inline-block; margin: 0 10px; margin-bottom: 10px !important;}

.unspoken-twocol-one {width: 48%; float: left; margin: 0 4% 15px 0; position: relative;}
.unspoken-twocol-one.last {clear: right; margin-right: 0 !important;}
.unspoken-fourcol-one {width: 22%; float: left; margin: 0 4% 15px 0; position: relative;}
.unspoken-fourcol-one.last {clear: right; margin-right: 0 !important;}

/* Entry footer */

.single .hentry-footer a {color: #007ac9;}
.single .hentry-footer a:hover {color: #ff5800;}

.single .hentry-like, .single .hentry-tags {font-size: 13px; color: #898989; margin-bottom: 15px;}
.single .page-link {font-size: 13px; color: #898989; margin-bottom: 15px; padding-top: 15px; border-top: 1px solid #eee;}

.single .hentry-navigation {border-top: 1px solid #eee; border-bottom: 1px solid #eee; padding: 10px 0; margin-bottom: 20px;}
.single .hentry-navigation-inn {position: relative;}
.single .hentry-navigation a {display: block; width: 45%;}
.single .hentry-navigation a em {font-size: 11px; color: #999; font-style: normal; display: block;}
.single .hentry-navigation a span {font-size: 12px; font-weight: bold;}
.single .hentry-navigation-prev {padding-left: 15px; background: url("images/previouspostslink.png") 0 50% no-repeat; float: left;}
.single .hentry-navigation-next {padding-right: 15px; background: url("images/nextpostslink.png") 100% 50% no-repeat; text-align: right; float: right;}
.single .hentry-navigation-prev:hover {background-image: url("images/previouspostslink-hover.png")}
.single .hentry-navigation-next:hover {background-image: url("images/nextpostslink-hover.png")}
.single .hentry-navigation-line {width: 1px; border-left: 1px dotted #eee; height: 100%; position: absolute; top: 0; left: 50%;}

.recommended-item {margin: 10px 10px 0 0; padding: 0 9px 10px 0; border-right: 1px solid #eee; float: left; width: 140px;}
.recommended-photo, .recommended-photo img {display: block;}
.recommended-photo {margin-bottom: 5px;}
.recommended-item p {font-size: 10px; color: #999; margin-bottom: 3px;}
.recommended-item h2 {font-size: 14px;}
.recommended .nb {margin-right: 0; padding-right: 0;}

/* Entry sidebar */

.single .hentry-sidebar {width: 140px; float: left; padding-top: 15px;}
.single .hentry-sidebar h6 {font-size: 14px; font-weight: bold; padding-bottom: 5px; border-bottom: 1px solid #eee;}
.single .hentry-sidebar a {color: #007ac9;}
.single .hentry-sidebar a:hover {color: #ff5800;}
.single .hentry-sidebar .aside {font-size: 11px; line-height: 1.5; color: #323232; margin-bottom: 20px;}
.single .hentry-sidebar .aside img {max-width: 140px; display: block; margin: 10px 0;}
.single .hentry-sidebar .unspoken-adplace {font-size: 11px;}

.single .hentry-widget {margin-bottom: 20px;}

.single .hentry-author h6 {margin-bottom: 10px;}
.single .hentry-author-meta {margin-bottom: 10px;}
.single .hentry-author-meta img {display: block; margin-right: 10px; float: left;}
.single .hentry-author-meta p {font-size: 12px; font-weight: bold; margin-bottom: 10px;}
.single .hentry-author-meta span {font-size: 11px;}
.single .hentry-author-about {font-size: 11px; line-height: 1.5; color: #323232; padding-bottom: 10px;}

.single .hentry-similar li {padding: 8px 0; font-size: 11px; line-height: 1.5; border-bottom: 1px dotted #eee;}

.single .hentry-share li {padding: 10px 0; font-size: 11px; border-bottom: 1px dotted #eee;}
.single .hentry-share li a {color: #007ac9; padding: 2px 0 2px 26px; background-image: url("images/icons.png"); background-repeat: no-repeat;}
.single .hentry-share a:hover {color: #ff5800;}

.single .hentry-share .feed a {background-position: 0 0;}
.single .hentry-share .twitter a {background-position: 0 -36px;}
.single .hentry-share .fb a {background-position: 0 -72px;}
.single .hentry-share .behance a {background-position: 0 -108px;}
.single .hentry-share .delicious a {background-position: 0 -144px;}
.single .hentry-share .flickr a {background-position: 0 -180px;}
.single .hentry-share .stumbleupon a {background-position: 0 -216px;}
.single .hentry-share .tumblr a {background-position: 0 -252px;}
.single .hentry-share .vimeo a {background-position: 0 -288px;}
.single .hentry-share .youtube a {background-position: 0 -324px;}
.single .hentry-share .dribbble a {background-position: 0 -360px;}
.single .hentry-share .blogger a {background-position: 0 -396px;}
.single .hentry-share .posterous a {background-position: 0 -432px;}
.single .hentry-share .devianart a {background-position: 0 -468px;}
.single .hentry-share .lastfm a {background-position: 0 -504px;}
.single .hentry-share .linkedin a {background-position: 0 -540px;}
.single .hentry-share .skype a {background-position: 0 -576px;}
.single .hentry-share .digg a {background-position: 0 -612px;}
.single .hentry-share .google a { background: url(images/google.png) 0 0 no-repeat;}

/* Sharebox */

#sharebox {position: absolute; width: 60px; margin-left: -92px; padding: 0 5px; background-color: #fff; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; z-index: 1;}
.share-item {margin: 7px 0; text-align: center;}
.share-item:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.share-item .fb-like { margin-left: 5px; }

/***** Page *****/

.page .hentry-meta {border-bottom: 1px solid #ff5800; margin-bottom: 20px;}
.page .hentry-meta h1 {color: #323232; padding-bottom: 10px; font-size: 21px; font-weight: bold; line-height: 21px;}
.page .hentry-meta a {color: #007ac9;}
.page .hentry-meta a:hover {color: #ff5800;}
.page .hentry-meta-data {font-size: 12px; color: #323232;}

.page .hentry-content {font-size: 13px; line-height: 1.5; color: #323232; padding-top: 0;}
.page .hentry-content a {color: #007ac9;}
.page .hentry-content a:hover {color: #ff5800;}
.page .hentry-content p {margin-bottom: 15px;}

/***** Loop *****/

#mode {display: block; width: 35px; height: 14px; background: url("images/mode.png") 0 0 no-repeat; position: absolute; bottom: 13px; right: 0; overflow: hidden;}
#mode.flip {background-position: 0 -14px !important;}

.loop {width: 620px; overflow: hidden; position: relative; margin-bottom: 30px;}
#loop {width: 640px;}
.loop .hentry a {color: #323232;}
.loop .hentry a:hover {color: #ff5800;}
.loop .hentry .post-meta {font-size: 11px; color: #999; margin-bottom: 3px;}
.loop .hentry .post-meta a {color: #999;}
.loop .hentry .post-meta a:hover {color: #ff5800;}
.loop .hentry h2 {font-size: 18px; font-weight: bold; color: #323232; margin-bottom: 5px;}
.loop .hentry p {font-size: 12px; line-height: 1.3; color: #323232;}

.list .hentry {width: 620px; padding: 20px 0; border-top: 1px dotted #eee; float: none;}
.list .hentry .post-thumb img {display: block; width: 300px; height: 180px; float: left; margin: 0 20px 0 0;}

.grid .hentry {width: 300px; padding: 20px 0; border-top: 1px dotted #eee; margin-right: 20px; float: left;}
.grid .hentry .post-thumb img {display: block; width: 300px; height: 180px; margin-bottom: 8px;}

.grid .grid-line {width: 1px; height: 100%; border-left: 1px solid #eee; position: absolute; left: 50%; top: 20px;}

.not-found {padding-top: 20px;}

/* Pagination */

.default {clear: both; border-top: 1px solid #323232; padding: 10px;}
.default .previouspostslink, .default .nextpostslink {display: inline-block; width: 119px; font-size: 14px; font-weight: bold; color: #323232;}
.default .previouspostslink {float: left; padding: 10px 0 10px 30px; background: url("images/previouspostslink.png") 0 50% no-repeat; border-right: 1px solid #eee;}
.default .nextpostslink {float: right; text-align: right; padding: 10px 30px 10px 0; background: url("images/nextpostslink.png") 100% 50% no-repeat; border-left: 1px solid #eee;}
.default .previouspostslink:hover, .default .nextpostslink:hover {color: #ff5800;}
.default .previouspostslink:hover {background-image: url("images/previouspostslink-hover.png");}
.default .nextpostslink:hover {background-image: url("images/nextpostslink-hover.png")}

.wp-pagenavi {margin: 0 170px; padding-top: 9px; text-align: center;}
.wp-pagenavi a, .wp-pagenavi span {font-size: 12px; padding: 2px 6px; margin: 0 3px; display: inline-block;}
.wp-pagenavi a {color: #007ac9;}
.wp-pagenavi a:hover {color: #ff5800;}
.wp-pagenavi .current {background: #323232; color: #fff; font-weight: bold; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}

.fetch {clear: both;}
.fetch .nextpostslink {display: block; height: 40px; line-height: 40px; font-size: 14px; font-weight: bold; color: #323232; text-align: center; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.fetch .nextpostslink:hover {background: #ff5800; color: #fff;}

/***** Comments *****/

.comments-inn {border-top: 1px solid #eee; margin-bottom: 40px;}
#comments .block-title {margin: 40px 0 0 160px; border-bottom: 0; position: relative;}
.no-sidebar #comments .block-title { margin-left: 0; }
#comments .block-title a {color: #007ac9; font-size: 12px; font-weight: normal; background: none; padding: 0; position: absolute; top: 0; right: 0;}
#comments .block-title a:hover {color: #ff5800;}
.page #comments .block-title {margin-left: 0;}

.comment {padding: 10px 0; border-top: 1px solid #eee;}
.comment td {vertical-align: top;}
.comment-meta {padding-right: 20px; width: 70px; overflow: hidden; font-size: 11px; color: #999;}
.comment-meta a {color: #007ac9;}
.comment-meta a:hover {color: #ff5800;}
.comment-meta p {margin-bottom: 5px;}
.comment-author {font-weight: bold; color: #323232;}
.reply {width: 60px;}
.reply a {display: block; margin-top: 5px; border: 1px solid #eee; padding: 5px 5px 5px 20px; background: url("images/reply.png") 6px 7px no-repeat; font-size: 11px; color: #999; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.reply a:hover {background-color: #ff5800; background-position: 6px -22px; border: 1px solid #ff5800; color: #fff;}
.comments .children {padding-left: 80px; background: url("images/children.png") 27px 20px no-repeat;}

.pings {padding: 20px 0; margin-left: 160px; list-style: decimal;}
.pings li {font-size: 12px; color: #999;}
.pings .comment-text {margin-bottom: 5px;}

.navigation {margin: 20px 0; padding: 10px 0; border-top: 1px solid #eee; border-bottom: 1px solid #eee; font-size: 12px;}
.navigation a {color: #007ac9;}
.navigation a:hover {color: #ff5800;}
.nav-previous {float: left; width: 45%;}
.nav-next {float: right; width: 45%; text-align: right;}

#respond {margin-top: 30px;}
#respond a {color: #007ac9;}
#respond a:hover {color: #ff5800;}
#respond table {width: 100%;}
#respond td {vertical-align: top; padding: 10px 0; border-bottom: 1px dotted #eee; font-size: 12px; color: #323232;}
#respond .label {text-align: right;}
#respond td label, #respond td span {vertical-align: -6px;}
#respond td span {margin-left: 15px; color: #999;}
#respond td p {border: 1px solid #eee; padding: 5px; margin-left: 15px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
#respond td p.alert {color: #ee2d24; border: none; display: none;}
#respond td p.alert-field {border-color: #ee2d24;}
#respond td input.input, #respond td textarea {width: 100%; padding: 0; margin: 0; border: none; font: 12px Arial, Helvetica, sans-serif;}
#respond #submit {border: none; background-color: #323232; margin: 0; color: #fff; font: bold 14px Arial, Helvetica, sans-serif; padding: 10px 15px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; cursor: pointer;}
#respond #submit:hover {background-color: #ff5800; color: #fff;}
#respond .submit {padding-left: 15px;}
#respond .submit div {margin-bottom: 10px;}
#respond .submit div input, #respond .submit div span, #respond .submit div a {vertical-align: middle;}
#respond .submit span {font-size: 14px; font-weight: bold; margin-left: 20px;}
.children #respond {margin-top: 0;}
.children #respond .block-title {margin: 0;}
.logged-in-as {margin: 8px 0 0 15px;}
.commentform-extra {font-size: 12px; line-height: 1.5; color: #323232; padding-left: 24%;}
#respond .message {padding: 15px 0 0 160px; font-size: 12px;}

.nopassword, .nocomments {font-size: 12px; color: #323232; margin: 40px 0 40px 160px;}
.page .nopassword, .page .nocomments {margin-left: 0;}

/* Comment styles */

.comment-text {font-size: 12px; line-height: 1.5; color: #323232; margin-bottom: 10px;}
.comment-text h1, .comment-text h2, .comment-text h3, .comment-text h4, .comment-text h5, .comment-text h6 {font-weight: normal; margin-bottom: 15px;}
.comment-text h1 {font-size: 20px;}
.comment-text h2 {font-size: 18px;}
.comment-text h3 {font-size: 17px;}
.comment-text h4 {font-size: 16px;}
.comment-text h5 {font-size: 15px;}
.comment-text h6 {font-size: 14px;}
.comment-text a {color: #007ac9;}
.comment-text a:hover {color: #ff5800;}
.comment-text p {margin-bottom: 15px;}
.comment-text ul {list-style: square; margin: 0 0 15px 16px;}
.comment-text ol {list-style: decimal; margin: 0 0 15px 19px;}
.comment-text ul ul, .comment-text ol ul {margin: 0 0 0 35px;}
.comment-text ol ol, .comment-text ul ol {margin: 0 0 0 35px; list-style: lower-alpha;}
.comment-text li {margin: 3px 0;}
.comment-text blockquote {padding: 1px 0 1px 35px; background: url("images/blockquote.png") 0 3px no-repeat; font-size: 12px; font-weight: bold;}
.comment-text table {border: 1px solid #eee; margin: 0 -1px 24px 0; text-align: left; width: 100%;}
.comment-text tr th, .comment-text thead th {color: #888; font-size: 12px; font-weight: bold; line-height: 18px; padding: 9px 24px;}
.comment-text tr td {border-top: 1px solid #eee; padding: 6px 24px;}
.comment-text dl, .comment-text dd {margin-bottom: 15px;}
.comment-text dt {font-weight: bold;}
.comment-text big {font-size: 131.25%;}
.comment-text pre {margin-bottom: 15px; padding: 20px; background-color: #f7f7f7; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.comment-text sup, .comment-text sub {height: 0; line-height: 1; position: relative; vertical-align: baseline; font-size: 10px;}
.comment-text sup {bottom: 5px;}
.comment-text sub {top: 3px;}

/***** Widgets *****/

.widget {width: 300px; overflow: hidden; margin-bottom: 30px;}
.widget-title {font-size: 14px; font-weight: bold; height: 34px; line-height: 34px; margin-bottom: 6px; color: #323232; border-top: 1px solid #323232; border-bottom: 1px solid #eee;}
.widget-title a {color: #323232 !important; padding-right: 15px; background: url("images/link-arrow.png") 100% 4px no-repeat;}
.widget-title a:hover {color: #ff5800 !important; background-position: 100% -28px;}
.no-title {display: none;}

.widget ul ul, .widget ul ol, .widget ol ol, .widget ol ul {margin-left: 20px;}
.widget li {color: #2a2a21; font-size: 12px; line-height: 1.8;}
.widget a {color: #007ac9;}
.widget a:hover {color: #ff5800;}

.unspoken-tabs .widget {margin-bottom: 0;}
.tabs-list {width: 305px; border-bottom: 1px solid #323232; padding-top: 5px;}
.tabs-list li {display: inline-block; font-size: 12px; font-weight: bold; padding: 5px 10px 3px; margin-right: 3px; color: #007ac9; background-color: #f6f6f8; cursor: pointer; border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; vertical-align: bottom;}
.tabs-list li:hover {background-color: #ff5800; color: #fff;}
.tabs-list li.tabs-current {background-color: #323232; color: #fff;}
.tabs-box {display: none;}
.tabs-box.visible {display: block;}

.hentry-thumb {padding: 8px 0; line-height: normal !important; border-bottom: 1px dotted #eee;}
.hentry-thumb-image img {width: 50px; height: 50px; float: left; margin: 2px 0;}
.hentry-thumb-meta {display: block; color: #999; font-size: 10px; margin-bottom: 3px;}
.hentry-thumb-meta a {color: #999;}
.hentry-thumb-meta a:hover {text-decoration: underline;}
.hentry-thumb-title {display: block; font-size: 12px;}
.hentry-thumb-title span {color: #3b3b3b;}
.hentry-thumb .offset {padding-left: 60px;}

.unspoken-getconnected ul {width: 316px; padding: 0;}
.unspoken-getconnected li {display: block; width: 142px; float: left; padding: 6px 0; margin-right: 16px; line-height: normal; border-bottom: 1px dotted #eee;}
.unspoken-getconnected a {display: block; padding: 5px 0 5px 26px; font-size: 14px; font-weight: bold; color: #007ac9; background-image: url("images/icons.png"); background-repeat: no-repeat;}
.unspoken-getconnected a:hover {color: #ff5800;}
.unspoken-getconnected .feed a {background-position: 0 4px;}
.unspoken-getconnected .twitter a {background-position: 0 -32px;}
.unspoken-getconnected .fb a {background-position: 0 -68px;}
.unspoken-getconnected .behance a {background-position: 0 -104px;}
.unspoken-getconnected .delicious a {background-position: 0 -140px;}
.unspoken-getconnected .flickr a {background-position: 0 -176px;}
.unspoken-getconnected .stumbleupon a {background-position: 0 -212px;}
.unspoken-getconnected .tumblr a {background-position: 0 -248px;}
.unspoken-getconnected .vimeo a {background-position: 0 -284px;}
.unspoken-getconnected .youtube a {background-position: 0 -320px;}
.unspoken-getconnected .dribbble a {background-position: 0 -356px;}
.unspoken-getconnected .blogger a {background-position: 0 -392px;}
.unspoken-getconnected .posterous a {background-position: 0 -428px;}
.unspoken-getconnected .devianart a {background-position: 0 -464px;}
.unspoken-getconnected .lastfm a {background-position: 0 -500px;}
.unspoken-getconnected .linkedin a {background-position: 0 -536px;}
.unspoken-getconnected .skype a {background-position: 0 -572px;}

.unspoken-twitter ul {padding: 0;}
.unspoken-twitter .tweet {padding: 6px 0; border-bottom: 1px dotted #eee;}
.unspoken-twitter .tweet-date {width: 70px; float: left; font-size: 10px; color: #898989;}
.unspoken-twitter .tweet-text {padding-left: 80px; font-size: 12px; color: #323232;}
.unspoken-twitter .tweet-text a {color: #007ac9;}
.unspoken-twitter .tweet-text a:hover {color: #ff5800;}

.unspoken-flickr ul {width: 316px;}
.unspoken-flickr li {display: inline-block; width: 85px; height: 85px; margin: 10px 19px 5px 0;}
.unspoken-flickr li a {display: block;}
.unspoken-flickr li a img {display: block; width: 80px; height: 80px; padding: 5px; border: 1px solid #e0e0e0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.unspoken-flickr li a:hover img {border-color: #ff5800;}

.unspoken_archive .widget-title {margin-bottom: 0;}
.unspoken_archive ul {width: 316px;}
.unspoken_archive li {display: block; float: left; width: 115px; padding: 10px 25px 10px 0; margin-right: 16px; border-bottom: 1px dotted #eee; line-height: normal; position: relative;}
.unspoken_archive a {color: #007ac9; font-size: 12px;}
.unspoken_archive a:hover {color: #ff5800;}
.unspoken_archive li span {font-size: 10px; color: #898989; position: absolute; right: 0; top: 11px;}

#wp-calendar {width: 100%;}
#wp-calendar caption {color: #3b3b3b; font-size: 13px; padding-bottom: 5px;}
#wp-calendar th, #wp-calendar td {color: #3b3b3b; font-size: 13px; text-align: center;}
#wp-calendar th {background: #f1f1f1; padding: 5px 0;}
#wp-calendar td {padding: 7px;}
#wp-calendar #today {font-weight: bold; background: #f7f7f7;}
#wp-calendar a {color: #007ac9;}
#wp-calendar a:hover {color: #ff5800;}

a.rsswidget img {vertical-align: -1px;}

.tagcloud a {line-height: 1.5;}
.unspoken-tabs .tagcloud {padding-top: 6px;}

.unspoken-tabs .textwidget {padding-top: 6px;}
.textwidget, .unspoken-adplace {font-size: 13px; line-height: 1.5; color: #2a2a21;}
.textwidget p, .unspoken-adplace p {margin-bottom: 10px;}
.textwidget a, .unspoken-adplace a {color: #007ac9;}
.textwidget a:hover, .unspoken-adplace a:hover {color: #ff5800;}
.unspoken-adplace .alignnone {clear: both; display: block;}
.unspoken-adplace .alignleft {display: inline; float: left; margin: 4px 15px 0 0;}
.unspoken-adplace .alignright {display: inline; float: right; margin: 4px 0 0 15px; text-align: right;}
.unspoken-adplace .aligncenter {clear: both; display: block; margin-left: auto; margin-right: auto; text-align: center;}

.widget_archive .widget-title {margin-bottom: 8px;}

.widget_search label {font-size: 12px; color: #2a2a21; vertical-align: middle;}
.widget_search #s {width: 170px; border: 1px solid #EEE; padding: 5px 5px; vertical-align: middle; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.widget_search #searchsubmit {border: none; background-color: #323232; color: #fff; margin: 0; padding: 5px 6px; vertical-align: middle; cursor: pointer; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.widget_search #searchsubmit:hover {background: #ff5800;}

.widget_recent_entries .widget-title, .widget_rss .widget-title, .widget_recent_comments .widget-title, .widget_meta .widget-title, .widget_links .widget-title, .unspoken-getconnected .widget-title, .unspoken-twitter .widget-title, .unspoken-flickr .widget-title, .unspoken_recent_posts .widget-title {margin-bottom: 0;}
.widget_recent_entries li, .widget_rss li, .widget_recent_comments li, .widget_meta li, .widget_links li {padding: 8px 0; margin: 0; line-height: 1.5; border-bottom: 1px dotted #eee;}

.unspoken_home { padding-top: 20px; }
#unspoken_home_loop { width: 640px; }

/***** 404 *****/

.error404 p {font-size: 13px !important; margin-bottom: 15px;}
.error404 a {color: #007ac9;}
.error404 a:hover {color: #ff5800;}

/***** Archive *****/

.archive .title {padding: 0 45px 10px 0; border-bottom: 1px solid #ff5800; font-size: 21px; font-weight: bold; line-height: 21px; color: #323232; position: relative;}

/***** Magazine *****/

#mainposts {margin-bottom: 20px; width: 620px; height: 380px;}
#mainposts li {z-index: 2; position: relative;}
#mainposts .prev, #mainposts .next {display: block; height: 18px; width: 18px; position: absolute; top: 20px; z-index: 3;}
#mainposts .prev:hover, #mainposts .next:hover {background-color: #ff5800;}
#mainposts .prev {left: 20px; background: #303030 url("images/arrows.png") 5px 50% no-repeat; border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; -webkit-border-radius: 3px 0 0 3px;}
#mainposts .next {left: 39px; background: #303030 url("images/arrows.png") -28px 50% no-repeat; border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; -webkit-border-radius: 0 3px 3px 0;}

.mainpost {width: 620px; height: 380px; position: relative;}
.mainpost img {display: block;}
.mainpost-container {width: 420px; height: 260px; position: absolute; bottom: 20px; left: 20px;}
.mainpost-container .bg {background-color: #13140e; opacity: 0.8; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; width: 420px; height: 260px; position: absolute; top: 0; left: 0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.mainpost-data {padding: 20px; position: relative; z-index: 1;}
.mainpost-data, .mainpost-data a {color: #fff;}
.mainpost-meta {font-size: 11px; margin-bottom: 10px;}
.mainpost-meta a:hover {text-decoration: underline;}
.mainpost-data h2 {font-size: 24px; font-weight: bold; margin-bottom: 8px;}
.mainpost-data h2 a:hover {text-decoration: underline;}
.mainpost-data p {font-size: 12px; line-height: 1.3;}

/***** Image Gallery *****/

.page-template-template-gallery-php .hentry-content {width: 620px; overflow: hidden;}
.page-template-template-gallery-php .gallery {width: 640px;}

/***** Tags *****/

.page-template-template-tags-php h4 {font-weight: bold; text-transform: uppercase;}
.page-template-template-tags-php .hentry-content {width: 620px; overflow: hidden;}
.page-template-template-tags-php .hentry-content .tags {width: 640px;}
.page-template-template-tags-php .hentry-content ul {list-style: none; margin: 0 0 15px 0;}
.page-template-template-tags-php .hentry-content ul li {color: #898989;}
.page-template-template-tags-php .hentry-content .column {width: 140px; float: left; margin-right: 20px;}

/***** Contact form *****/

#contactform {border-top: 1px solid #eee; padding-bottom: 15px;}
#contactform table {width: 100%;}
#contactform td {vertical-align: top; padding: 15px 0; border-bottom: 1px dotted #eee; font-size: 12px; color: #323232;}
#contactform .label {text-align: right;}
#contactform td label, #contactform td span {vertical-align: -6px;}
#contactform td span {margin-left: 15px; color: #999;}
#contactform td p {border: 1px solid #eee; padding: 5px; margin-left: 15px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
#contactform td p.alert {color: #ee2d24; border: none; display: none;}
#contactform td p.alert-field {border-color: #ee2d24;}
#contactform td input.input, #contactform td textarea {width: 100%; padding: 0; margin: 0; border: none; font: 12px Arial, Helvetica, sans-serif;}
#contactform #submit {border: none; background-color: #323232; color: #fff; font: bold 14px Arial, Helvetica, sans-serif; margin-left: 15px; padding: 10px 15px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; cursor: pointer;}
#contactform #submit:hover {background-color: #ff5800; color: #fff;}
#contactform .submit input, #contactform .submit a {vertical-align: middle;}

#contactform .error {font-size: 12px; color: #ff5800; margin: 5px 0 0 15px;}
#contactform .message {padding: 15px 0 0 158px; font-size: 14px; font-weight: bold;}
#contactform .message a {color: #007ac9;}
#contactform .message a:hover {color: #ff5800;}

/***** Wide *****/

.page-template-template-wide-php #content {width: 100%; padding-right: 0; border: none;}

/***** Bottom widget area *****/

.bottom-widgetarea {margin-bottom: 20px; width: 940px; overflow: hidden;}
.bottom-widgetarea-inn {width: 960px;}
.bottom-widgetarea .widget {float: left; margin-right: 20px;}

/***** Footer *****/

.footer {padding: 10px 20px; background-color: #323232; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}

.menu-footer {border-bottom: 1px solid #5c5c5c; margin-bottom: 20px;}
.menu-footer ul li {float: left; font-size: 14px; font-weight: bold; padding: 5px 10px 13px; margin: 0 10px 0 -10px;}
.menu-footer ul li a {color: #fff;}
.menu-footer ul li a:hover {color: #ff5800;}

.footer-leftpart {width: 202px; padding-right: 9px; float: left;}
.logo-footer {display: block; width: 202px; padding-bottom: 14px;}
.logo-footer, .logo-footer img {display: block;}
.logo-footer {color: #fff; font-size: 24px;}
.logo-footer span {display: block; width: 202px; height: 26px;}

.footer-middlepart {width: 377px; float: left; padding: 0 10px 10px;}
.footer-searchform {height: 40px; margin-bottom: 5px;}
.footer-searchform input {width: 365px; font-size: 16px; font-weight: bold; color: #323232; border: 1px solid #eee; padding: 4px 5px; margin: 0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.footer-tags {color: #fff;}
.footer-tags p {font-size: 12px; font-weight: bold; color: #fff; margin-bottom: 5px;}
.footer-tags a {font-size: 11px; color: #fff;}
.footer-tags a:hover {color: #ff5800;}

.footer-linkset {width: 124px; float: left; padding: 0 10px 10px; border-left: 1px solid #5c5c5c; font-size: 12px;}
.footer-linkset a {color: #fff;}
.footer-linkset a:hover {color: #ff5800;}

.copyrights {width: 775px; float: left; padding: 18px 0; font-size: 11px; color: #323232;}
.copyrights a, .credits a {color: #007ac9;}
.copyrights a:hover, .credits a:hover {color: #ff5800;}
.credits {width: 145px; float: right; text-align: right; padding: 18px 0; font-size: 11px; color: #323232;}
